<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  data() {
    return {
      count: 0,
    };
  },
  methods: {
    increment() {
      let a = 10;
      this.count = a + ++this.count;
    },
  },
});
</script>

<template>
  <button @click="increment">count is: {{ count }}</button>
</template>
